/* Write your CSS here! */

body {
    width: 100%;
    max-width: 1024px;
    margin: 8px;
    display: block;
    background-color:  rgb(165, 181, 163);
    font-size: 87%;
}

p {
    color: white
}

.funParagraph {
    font-style:italic;
    font-size:medium;
    color: green;
}

#blockquote-color {
    color: rgb(233, 32, 32)
}

nav {
    color: rgb(233, 68, 79); 
    
}

#mainHeading {
    color: red;
    font-size: xxx-large;
    font-style: oblique;
}

h2 {
    color: rgb(234, 118, 79)
}

.center {
    text-align: center;
}

